In [1]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/spark/python (3.5.0)
Requirement already satisfied: py4j==0.10.9.7 in /opt/conda/lib/python3.11/site-packages (from pyspark) (0.10.9.7)

In [2]:
import pyspark

In [3]:
import pandas as pd
pd_df = pd.read_csv('test1.csv')
pd_df

       Name  Age
0     Krish   31
1  Sudhansh   30
2     Sunny   29

In [4]:
type(pd_df)

pandas.core.frame.DataFrame

In [5]:
from pyspark.sql import SparkSession

In [6]:
spark = SparkSession.builder.appName('Practice').getOrCreate()

In [7]:
spark

In [8]:
df = spark.read.csv('test1.csv')

In [9]:
df

DataFrame[_c0: string, _c1: string]

In [10]:
df.show()

+--------+---+
|     _c0|_c1|
+--------+---+
|    Name|Age|
|   Krish| 31|
|Sudhansh| 30|
|   Sunny| 29|
+--------+---+

In [11]:
# To infer schema and column names
df1 = spark.read.csv('test1.csv', header = True, inferSchema = True)

In [12]:
df1

DataFrame[Name: string, Age: int]

In [13]:
df1.show()

+--------+---+
|    Name|Age|
+--------+---+
|   Krish| 31|
|Sudhansh| 30|
|   Sunny| 29|
+--------+---+

In [14]:
type(df1)

pyspark.sql.dataframe.DataFrame

In [15]:
df1.head(3)

[Row(Name='Krish', Age=31),
 Row(Name='Sudhansh', Age=30),
 Row(Name='Sunny', Age=29)]

In [16]:
df1.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)